body{
    margin: 0%;
    padding: 0%;
    background: url(60931.jpg) no-repeat;
    background-size: cover;
}

.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
    text-align: center;
    font-family: 'Century Gothic', sans-serif;
    color: white;
    margin: auto;
    margin-top: 6%;
}

.box h1
{
    font-family: 'Century Gothic', sans-serif;
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 2px;
}

.box h5
{
    font-family: 'Century Gothic', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
}

.box p{
    text-align: justify;
}


.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

ul{
    margin: 0;
    padding: 0;
}

.box li
{
    list-style: none;
    display: inline-block;
    margin: 8px;
}
.box li a
{
    font-size: 40px;
}
